<ActionBar title="Groceries"></ActionBar>

<FlexboxLayout>
	<StackLayout class="form">
		<Image src="~/app/images/logo.jpg"></Image>
		<TextField hint="Email Address" keyboardType="email"
			autocorrect="false" autocapitalizationType="none" [(ngModel)]="user.email" class="input input-border"></TextField>
		<TextField class="input input-border" hint="Password" secure="true" [(ngModel)]="user.password"></TextField>
	
		<Button [text]="isLoggingIn ? 'Sign In' : 'Sign Up'" class="btn btn-primary" text="Sign in" (tap)="submit()"></Button>
		<Button [text]="isLoggingIn ? 'Sign Up' : 'Back to Login'" text="Sign up for Groceries" (tap)="toggleDisplay()"></Button>
	</StackLayout>
</FlexboxLayout>